<!DOCTYPE html>
<html>
<head>
    <title>Dutch treat: @ViewBag.Title</title>

    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" /> @*Esta libreri no sirve*@
    <script src="https://kit.fontawesome.com/e935ea6dc7.js"></script> @*sirve pero el CDN web*@
</head>
<body>
    <div class="navbar navbar-inverse">
        <header class="container">
            <div class="navbar header">
                <div class="navbar-brand"><i class="fa fa-paint-brush" aria-hidden="true"></i> Dutch Treat</div>
                     <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">&#9776;</button>
                </div>
            <div id="menu" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    @*en viewImports... est @addTagHelpr*@
                    @*href="/" es sustituido por asp despues de crear los item en view Imports y start*@
                    <li>
                        <a asp-controller="App" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-controller="App" asp-action="Contact">Contact</a>
                    </li>
                    <li>
                        <a asp-controller="App" asp-action="About">About</a>
                    </li>
                </ul>
            </div>
        </header>
    </div>
    <section  class="container">
        <h2 class="text-center">@ViewBag.Title</h2>
        @RenderBody()
    </section>
    <footer class="container">
        <div class="text-center">Copyright 2017 Dutch Treat LLC</div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/index.js"></script>
    @RenderSection("scripts", false)
</body>
</html>